<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form th:action="@{/eventos/borrar}" method="post">
<div >
    <label th:text="${evento.id}"></label>
    <label th:text="${evento.nombre}"></label>
    <label th:text="${evento.fecha}"></label>
    <label th:text="${evento.lugar}"></label>
    <p>Esta accion no se puede desacer</p>
</div>
    <a href="/eventos/index"><button type="button">Volver</button></a>
    <button>Borrar Definitivamente</button>
</form>
</body>
</html>