<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form method="post" th:action="@{/eventos/editar}" th:object="${evento}">
    <h1>Editar evento</h1>

    <input type="hidden" th:field="*{id}">

    <label>Nombre</label>
    <input th:field="*{nombre}">

    <label>Descripcion</label>
    <input th:field="*{descripcion}">
    <!--Esto es para que me guarde la info del dateTime-->
    <label>Fecha/hora</label>
    <input type="datetime-local"
           th:field="*{fecha}">

    <label>Lugar</label>
    <input th:field="*{lugar}">

    <label>Precio Base</label>
    <input th:field="*{precioBase}">

    <label>Recargo Grada</label>
    <input th:field="*{recargoGrada}">

    <label>Recargo VIP</label>
    <input th:field="*{recargoVip}">

    <button>Editar</button>
    <a href="/eventos/index"><button type="button">Cancelar</button></a>
</form>
</body>
</html>
