<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eventos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1> LISTA DE EVENTOS </h1>
<form method="post" th:action="@{/eventos/calcular/paso2}">
    <fieldset>
        <legend>Selecciona un evento</legend>
        <div th:each="evento : ${eventos}">
            <input type="radio" th:id="${evento.id}" th:value="${evento.id}"
                   name="eventoId" th:checked="${eventoGet ne null and evento.id eq eventoGet.id}" required>
            <label th:for="${evento.id}" th:text="${evento.nombre}"></label>
        </div>
    </fieldset>
    <div>
        <label for="cantidadEntradas">Cantidad de entradas:</label>
        <input type="number" id="cantidadEntradas" name="cantidadEntradas"  min="1" required>
    </div>
    <button>Continuar</button>
</form>

<a href="/eventos/index"><button type="button">Modo admin</button></a>

</body>
</html>